html,
body,
.app {
    height: 100vh;
    width: 100%;
    background-color: ghostwhite;
}


::-webkit-scrollbar{
  width: 5px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
}

::-webkit-scrollbar-thumb{
  background-color: rgba(209, 43, 43, 0.437);
  border: 1px solid '#5468ff';
}

button {
    align-items: center;
    appearance: none;
    background-color: #ed3e32;
    border: 0;
    border-radius: 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}

    button:focus {
        box-shadow: #ed3e32 0 0 0 1px inset, (45, 35, 66, .4) 0 2rgbapx 4px, rgba(45, 35, 66, .3) 0 7px 13px -2px, #ed3e32 0 -2px 0 inset;
    }
    button:hover {
        box-shadow: #ed3e32 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #ed3e32 0 -3px 0 inset;
        transform: translateY(-2px);
    }

button:active {
  box-shadow: #FB490F 0 3px 7px inset;
  transform: translateY(2px);
}

