.home-page {
    height: 80%;
    width: 100%;
}

.home-page-container {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4rem 3rem;
}

.profile-pic:hover {
    opacity: 0.8;
    cursor: pointer;
}

.home-page-left-sec {
    height: 80vh;
    width: 75%;
}

.video-upload {
    height: 30%;
    width: 100%;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fileName {
    font-size: 14px;
    margin-top: 1rem;
}

.analytics {
    height: 60%;
    width: 100%;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 1.5rem;
    overflow: scroll;
}

.analytics::-webkit-scrollbar {
    display: none;
}

.analytics p {
    position: fixed;
    background-color: #fff;
    font-weight: 600;
}

.home-page-right-sec {
    height: 80vh;
    width: 20%;
}

.profile {
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-header {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}


.profile-img {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: .5rem;
}

.profile-img img {
    height: 100%;
    width: 100%;

}



.profile-details {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.profile-details p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
}

.profile-details p:nth-child(2) {
    font-size: 18px;
    font-weight: 400;
}

.profile-details p:nth-child(3) {
    font-size: 12px;
    font-weight: 600;
}

.profile-details p:nth-child(4) {
    font-size: 13px;
}